@use 'hero';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    color: #fff;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

    @media (max-width:640px) { //celular
        max-width: 80%;//a largura q 80 pra sobra 10% pra cada margin
    }

    @media (max-width:1024px) { //tablet
        max-width: 90%; //5% pra cada margin
    }
}